
.red {
    width: 10em;
    height: 10em;
    background-color: red;
    position: absolute;
    top: 0;

} 
.blue{
    width: ;
} {
    /* absolute */
    font-size: 12px;
}
/* relatives */
/* % compared to something else
fraction or multiples of something */